@media screen and (min-width: 1000px) {


  .aside {
    margin-right: 35%;
    text-align: right;
  }

  #my-pic {
    width: 30%;
    float: right;

  }

  /**********
   Fix image container overflow after floating
   **********/

  .clearfix {
    overflow: auto;
    zoom: 1;
  }

  #spacer {
    clear: both;
  }

}
