/**********
 General
 **********/

body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 650px;
  width: 75%;
}

.gallery-wrapper {

}

.section_top,
.section_alt {
  padding: 2em 0;
}


/**********
 Typography
 **********/
h1 {
  font-size: 3em;
  font-family: 'Dawning of a New Day', cursive;
}

h2 {
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

.fa {
  font-size: 3em;
  padding: 0 .5em;
}

.portfolio-link {
  font-size: 1.5em;
}

/**********
 Color Scheme
 **********/

 .section_top {
   background-color: #E0EBE8;
 }

 .section_alt {
   background-color: #f5f5f5;
 }

 h1,
 h2 {
   color: #4AB19A;
 }

 a,
 a:visited {
   color: #4AB19A;
   text-decoration: none;
 }

 a:hover,
 a:focus {
   color: #666;
 }

 .fa {
     color: #333;
 }

 .fa:hover,
 .fa:focus {
   color: #7DCC93;
 }


/**********
 Multimedia
 **********/

 img {
   max-width: 500px;
   width: 100%;
 }

 .gallery-object {
   display: inline-block;
   padding: 1em 0;
 }
